body{
    margin: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #56ce6a5c;
}
 /*header*/ 
 header {
background-color: rgb(213, 173, 121);
color: rgb(22, 10, 2);
padding: 40px;
display::file-selector-button
justify-content:l :target-current;
space-betwee
align-items::before;
 }



    header .logo {
        font-size: 60px;
        font-weight:bolder;
    }
 

   nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
   }

   nav a {
    color: rgb(7, 118, 57);
    text-decoration: none;
    font-weight:lighter;
   }

   .container {
    display:grid;place-items: center;
    
    
    
    
   }
   /*hero*/
   hero {
   background-color:rgb(106, 15, 61)
   color: beige;
   text-align:center
   padding: 80px;20px;

   /*imagen circular*/

   .foto-circular {
    width: 10px;
    height: 10px;
    border-radius: 1%;
    object-fit: cover;
    display: block;
    margin: 0;auto 0px;

   }

}
 /*secciones generales*/
 .seccion {
    padding: 20px 20px;
    text-align: center;
 }

 .invitada {
    margin-top: 80%;
    font-weight: bold;
}

/*segunda seccion*/
.seccion    {
    font-style:normal;
    white-space: initial;
    
    
}
 /*footer*/

 footer {
    html {
        scroll-behavior:file-selector-button;
    }
 
 }




